# Data Cleaning

In [1]:
import pandas as pd
import os 

# check current working directory
print(os.getcwd())
# change current working directory
os.chdir(r"C:\Users\HP\Desktop\For CV\Project 5")
# Lista all folders and files in directory
for dirname, _, filenames in os.walk(r"C:\Users\HP\Desktop\For CV\Project 5"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\Users\HP\Desktop\For CV\Project 5\data cleaning
C:\Users\HP\Desktop\For CV\Project 5\.ipynb_checkpoints\articles_scraper-checkpoint.ipynb
C:\Users\HP\Desktop\For CV\Project 5\data cleaning\data_cleaning.ipynb
C:\Users\HP\Desktop\For CV\Project 5\data cleaning\.ipynb_checkpoints\data_cleaning-checkpoint.ipynb
C:\Users\HP\Desktop\For CV\Project 5\data collection\articles_scraper.html
C:\Users\HP\Desktop\For CV\Project 5\data collection\articles_scraper.ipynb
C:\Users\HP\Desktop\For CV\Project 5\data collection\arts_2.csv
C:\Users\HP\Desktop\For CV\Project 5\data collection\arts_categories.txt
C:\Users\HP\Desktop\For CV\Project 5\data collection\economy_2.csv
C:\Users\HP\Desktop\For CV\Project 5\data collection\sports_2.csv
C:\Users\HP\Desktop\For CV\Project 5\data collection\.ipynb_checkpoints\articles_scraper-checkpoint.ipynb

In [2]:
# step1: read the 3 csv files
# step2: merge them into one dataframe
# step3: remove spaces and check for duplicates
# step4: export them to a final csv file.

economy = pd.read_csv(r"C:\Users\HP\Desktop\For CV\Project 5\data collection\economy_2.csv")
sports = pd.read_csv(r"C:\Users\HP\Desktop\For CV\Project 5\data collection\sports_2.csv")
arts = pd.read_csv(r"C:\Users\HP\Desktop\For CV\Project 5\data collection\arts_2.csv", encoding = 'cp1252')

I added this part: encoding = 'cp1252' because trying to read arts_2.csv, I had this error:
[UnicodeDecodeError](https://stackoverflow.com/questions/45529507/unicodedecodeerror-utf-8-codec-cant-decode-byte-0x96-in-position-35-invalid)

In [3]:
df = pd.concat([economy, sports, arts], axis ='rows')
display(df.head())
print()
display(df.tail())

   Unnamed: 0                                      article_title category
0           0  Egypt-based Paymob raises $50 mln in Series B ...  economy
1           1  Egypt’s inflation speeds up amid war in Ukrain...  economy
2           2  EBRD upgrades Egypt’s GDP growth forecasts in ...  economy
3           3  Gold prices down in Egypt amid uncertain econo...  economy
4           4  Egypt, EU ink €138 mln development finance dea...  economy

       Unnamed: 0                                      article_title category
10640       10640  Chekhov's Three Sisters visit AUC\n\n\n\nAnton...      art
10641       10641  Egyptian critic wins Polish cultural award\n\n...      art
10642       10642  Examining Acting Myths and Misconceptions\n\n\...      art
10643       10643  Julius Caesar with a twist\n\n\n\nAl Hayat The...      art
10644       10644  A Humourless Night\n\n\n\nOn 12 November a sta...      art

In [4]:
# check dataframe column
print(df.columns)
# step5: drop the 'Unnamed: 0' column
df.drop(columns= 'Unnamed: 0', inplace=True)
# stpe6: reset the index, and don't insert index into dataframe columns
df = df.reset_index(drop=True)
# stpe7: remove white spaces within articles
df['article_title'] = df['article_title'].apply(lambda x: x.replace(' ', ''))

Index(['Unnamed: 0', 'article_title', 'category'], dtype='object')

In [5]:
df = df[['article_title','category']]

In [6]:
# step8: check for duplicates
print(df.duplicated().sum())

46

In [7]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [9]:
# finally: remove \n from article titles
df = df.replace('\n',' ', regex=True)

In [11]:
df.to_csv(r"C:\Users\HP\Desktop\For CV\Project 5\data cleaning\clean_df.csv")